---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import Tabs from "../components/Tabs.astro";

import logos from "../images/framework-logos.png";
import logosSmall from "../images/framework-logos-small.png";

const tabs = [
  { title: 'NPM', content: '$ npm create astro@latest' },
  { title: 'PNPM', content: '$ pnpm create astro@latest' },
  { title: 'YARN', content: '$ yarn create astro' },
];

/*const test = "Astro";
const request = await fetch(
  "https://jsonplaceholder.typicode.com/users?_limit=15"
);
const users = await request.json();*/
---

<Layout title="Home">
  <Showcase>
    <div class="showcase-img">
      <img class="logos" src={logos.src} alt="Framework Logos" />
      <img
        class="logos-small"
        src={logosSmall.src}
        alt="Framework Logos Small"
      />
    </div>

    <p class="showcase-demo">
      <small>This is a demo website used for the YouTube crash course</small>
    </p>
  </Showcase>

  <Features />

	<section class="page-content">
		<div class="container">
			<h2>Get Started With Astro</h2>
			<p>
				Get a new Astro project up and running locally with our helpful
				create-astro CLI wizard!
			</p>

			<Tabs tabs={tabs} />

			<h3>Start Building</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
				deserunt inventore ut voluptate, officia maiores repellat tenetur
				praesentium omnis est ex tempora a necessitatibus reiciendis at et
				dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
				laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
				iusto error molestias dolorum, necessitatibus labore?
			</p>
		</div>
	</section>
</Layout>

<style>
  .showcase-img {
    text-align: center;
  }

  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
</style>
